In [1]:
import pandas as pd

In [2]:
filename = 'data/NewTenant.xlsx'

In [3]:
df1 = pd.read_excel(filename, engine='openpyxl')

In [4]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,테넌트 라이브러리 New Tenant 발굴 로직,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,네이버맵 방문자리뷰수 점수,네이버맵 블로그리뷰수 점수,카카오 평점 점수,구글 평점 점수,인스타 팔로워 점수,네이버 검색량 점수,총점
3,NaN,가중치,0.2,0.3,0.05,0.05,0.2,0.2,1
4,NaN,NaN,20,30,5,5,20,20,100
5,NaN,산식,500 이하 : 0점,100 이하 : 0점,3.9 이하 : 0점,3.9 이하 : 0점,"1,000 이하 : 0점",100 이하 : 0점,-
6,NaN,NaN,1200 이상 : 20점,1000 이상 : 30점,4.5 이상 : 5점,4.5 이상 : 5점,"20,000 이상 : 20점","30,000 이상 : 20점",-
7,NaN,NaN,"IF(셀값>=500,IF(셀값<=1200,((셀값-300)*(ROUND(100/(1...","IF(셀값>=100,IF(셀값<=1000,((셀값-100)*(ROUND(100/(1...","IF(셀값>=3.9,IF(셀값<=4.5,((셀값-3.9)*(ROUND(100/(4....","IF(셀값>=3.9,IF(셀값<=4.5,((셀값-3.9)*(ROUND(100/(4....","IF(셀값>=1000,IF(셀값<=20000,((셀값-1000)*(ROUND(100...","IF(셀값>=100,IF(셀값<=30000,((셀값-100)*(ROUND(100/(...",NaN

In [21]:
df2 = pd.read_csv('data/일반음식점2.csv')

C:\Users\akdhk\AppData\Local\Temp\ipykernel_9188\3162037680.py:1: DtypeWarning: Columns (2,8,13,14,25,27,28,29,30,36,39,41,42,46,48,56,57,59,60,61,62,63,66,71,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/일반음식점2.csv')

In [34]:
df2 = df2.drop(df2.columns[25:82], axis=1)

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497600 entries, 0 to 497599
Data columns (total 25 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   개방자치단체코드  497600 non-null  int64
 1   관리번호      497600 non-null  object
 2   인허가일자     497600 non-null  object
 3   인허가취소일자   0 non-null       float64
 4   영업상태코드    497600 non-null  int64
 5   영업상태명     497600 non-null  object
 6   상세영업상태코드  497600 non-null  int64
 7   상세영업상태명   497600 non-null  object
 8   폐업일자      372069 non-null  object
 9   휴업시작일자    0 non-null       float64
 10  휴업종료일자    0 non-null       float64
 11  재개업일자     0 non-null       float64
 12  전화번호      329662 non-null  object
 13  소재지면적     464062 non-null  object
 14  소재지우편번호   497366 non-null  object
 15  지번주소      497373 non-null  object
 16  도로명주소     247909 non-null  object
 17  도로명우편번호   243991 non-null  float64
 18  사업장명      497599 non-null  object
 19  최종수정일자    497600 non-null  object
 20  데이터갱신구분   497600 non-null  object
 21  데이터갱신일자   497600 non-null  object
 22  업태구분명     497582 non-null  object
 23  좌표정보(X)   472319 non-null  float64
 24  좌표정보(Y)   472319 non-null  float64
dtypes: float64(7), int64(3), object(15)
memory usage: 94.9+ MB

In [36]:
df2.shape

(497600, 25)

In [37]:
df2.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,지번주소,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,3010000,3010000-101-2023-00540,2023-11-03,NaN,1,영업/정상,1,영업,NaN,NaN,...,서울특별시 중구 을지로6가 18-137,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)",4564.0,매취랑 동대문점,2023-11-03 17:09,I,05:00.0,한식,200614.4978,451667.7933
1,3220000,3220000-101-2023-00459,2023-03-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,서울특별시 강남구 역삼동 711-6 역삼자이,"서울특별시 강남구 언주로 408, 역삼자이 상가동 지하1층 B10호 (역삼동)",6214.0,청춘부추소곱창,2023-03-31 16:41,I,02:00.0,한식,203882.7780,444136.1670
2,3230000,3230000-101-2023-00343,2023-05-12,NaN,1,영업/정상,1,영업,NaN,NaN,...,서울특별시 송파구 가락동 84-6,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)",5712.0,치카바,2023-05-12 14:40,I,04:00.0,일식,210536.3795,443748.6844
3,3230000,3230000-101-2023-00220,2023-03-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,서울특별시 송파구 방이동 57 One57빌당,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)",5547.0,오고보,2023-03-31 9:55,I,02:00.0,경양식,209835.4199,445884.5368
4,3230000,3230000-101-2023-00222,2023-03-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,서울특별시 송파구 가락동 46-11 문종빌딩,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)",5706.0,또봉이통닭 가락본동점,2023-03-31 11:17,I,02:00.0,호프/통닭,210694.9140,444077.2546

In [38]:
df2.describe()

,개방자치단체코드,인허가취소일자,영업상태코드,상세영업상태코드,휴업시작일자,휴업종료일자,재개업일자,도로명우편번호,좌표정보(X),좌표정보(Y)
count,4.976000e+05,0.0,497600.000000,497600.000000,0.0,0.0,0.0,243991.000000,472319.000000,472319.000000
mean,3.132479e+06,NaN,2.495454,1.747727,NaN,NaN,NaN,5191.200667,199331.433914,449190.906853
std,7.502570e+04,NaN,0.868635,0.434317,NaN,NaN,NaN,2132.013167,7342.236933,5474.421004
min,3.000000e+06,NaN,1.000000,1.000000,NaN,NaN,NaN,1000.000000,177915.685000,3160.060492
25%,3.070000e+06,NaN,1.000000,1.000000,NaN,NaN,NaN,3497.000000,193071.650200,444775.530600
50%,3.140000e+06,NaN,3.000000,2.000000,NaN,NaN,NaN,5262.000000,200800.417000,448747.333000
75%,3.200000e+06,NaN,3.000000,2.000000,NaN,NaN,NaN,6931.000000,204799.976600,452384.322100
max,3.240000e+06,NaN,3.000000,2.000000,NaN,NaN,NaN,63361.000000,392314.744600,465478.520700

In [39]:
df2.dtypes

개방자치단체코드      int64
관리번호         object
인허가일자        object
인허가취소일자     float64
영업상태코드        int64
영업상태명        object
상세영업상태코드      int64
상세영업상태명      object
폐업일자         object
휴업시작일자      float64
휴업종료일자      float64
재개업일자       float64
전화번호         object
소재지면적        object
소재지우편번호      object
지번주소         object
도로명주소        object
도로명우편번호     float64
사업장명         object
최종수정일자       object
데이터갱신구분      object
데이터갱신일자      object
업태구분명        object
좌표정보(X)     float64
좌표정보(Y)     float64
dtype: object

In [40]:
df2.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)'],
      dtype='object')

In [42]:
df3 = pd.read_csv('data/tenant.csv', encoding='cp949')

In [44]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8206 entries, 0 to 8205
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   seq                       8206 non-null   int64
 1   st_company_seq            8199 non-null   float64
 2   nv_restaurant             8206 non-null   object
 3   nv_restaurant_tel         8027 non-null   object
 4   nv_address                8206 non-null   object
 5   nv_address_lat            8206 non-null   float64
 6   nv_address_long           8206 non-null   float64
 7   nv_address_si             8164 non-null   object
 8   nv_address_gu             8164 non-null   object
 9   nv_address_dong           8163 non-null   object
 10  nv_place_intro            3630 non-null   object
 11  nv_sector                 8200 non-null   object
 12  nv_insta_url              5329 non-null   object
 13  nv_place_id               8206 non-null   int64
 14  nv_visitor_review_cnt     8206 non-null   int64
 15  nv_blog_review_cnt        8206 non-null   int64
 16  nv_search_volume_monthly  8206 non-null   int64
 17  seoul_data_area           8206 non-null   float64
 18  insta_follower_cnt        8206 non-null   int64
 19  gg_rating                 8206 non-null   float64
 20  gg_review_cnt             8206 non-null   int64
 21  kk_rating                 8206 non-null   float64
 22  kk_rating_cnt             8206 non-null   int64
 23  kk_review_cnt             8206 non-null   int64
 24  nv_visitor_review_score   8206 non-null   float64
 25  nv_blog_review_score      8206 non-null   float64
 26  nv_search_volume_score    8206 non-null   float64
 27  kk_rating_score           8206 non-null   float64
 28  gg_rating_score           8206 non-null   float64
 29  insta_follower_score      8206 non-null   float64
 30  total_score               8206 non-null   float64
 31  quarter_year              8206 non-null   int64
 32  quarter_month             8206 non-null   int64
 33  tenant_status             8206 non-null   int64
 34  license_date              2900 non-null   object
 35  create_at                 8206 non-null   object
 36  update_at                 5953 non-null   object
 37  delete_at                 283 non-null    object
 38  brand_name                5682 non-null   object
 39  ld_place_cnt              8165 non-null   float64
 40  kk_restaurant             7700 non-null   object
 41  kk_place_id               7700 non-null   float64
 42  delete_reason             274 non-null    object
 43  license_update_date       2106 non-null   object
dtypes: float64(15), int64(12), object(17)
memory usage: 2.8+ MB

In [45]:
df3.shape

(8206, 44)

In [46]:
df3.head()

,seq,st_company_seq,nv_restaurant,nv_restaurant_tel,nv_address,nv_address_lat,nv_address_long,nv_address_si,nv_address_gu,nv_address_dong,...,license_date,create_at,update_at,delete_at,brand_name,ld_place_cnt,kk_restaurant,kk_place_id,delete_reason,license_update_date
0,1,2.0,도식화,0507-1342-7937,서울 마포구 와우산로17길 19-9 1층,37.54979,126.92179,서울,마포구,서교동,...,2022-05-02 00:00:00,2023-05-15 18:15:38,2023-08-29 18:32:30,NaN,도식화,2.0,도식화,1.166542e+09,NaN,NaN
1,2,4768.0,뽕나무쟁이 선릉본점,02-558-9279,서울 강남구 역삼로65길 31,37.50320,127.05200,서울,강남구,대치동,...,2022-04-28 00:00:00,2023-05-15 18:15:41,2023-08-29 18:32:58,NaN,뽕나무쟁이,5.0,뽕나무쟁이 선릉본점,1.119057e+07,NaN,NaN
2,3,639.0,스케줄 성수,0507-1349-7458,서울 성동구 아차산로 104 2층,37.54444,127.05546,서울,성동구,성수동2가,...,2022-04-25 00:00:00,2023-05-15 18:15:42,2023-08-29 18:33:24,NaN,스케줄,12.0,스케줄성수,1.466610e+09,NaN,NaN
3,4,220.0,사위식당 마곡점,0507-1495-2242,서울 강서구 공항대로 227 1층 112호,37.55960,126.83269,서울,강서구,마곡동,...,2022-02-14 00:00:00,2023-05-15 18:15:43,2023-08-29 18:33:51,NaN,사위식당,22.0,사위식당 마곡점,2.506013e+08,NaN,NaN
4,5,4769.0,레스토랑 파츠 강남N점,0507-1336-0329,서울 강남구 테헤란로 129 강남N타워 B2층,37.49993,127.03237,서울,강남구,역삼동,...,2022-02-28 00:00:00,2023-05-15 18:15:45,2023-08-29 18:34:19,NaN,레스토랑,1210.0,레스토랑 파츠 강남N점,6.922289e+06,NaN,NaN

In [47]:
df3.describe()

,seq,st_company_seq,nv_address_lat,nv_address_long,nv_place_id,nv_visitor_review_cnt,nv_blog_review_cnt,nv_search_volume_monthly,seoul_data_area,insta_follower_cnt,...,nv_search_volume_score,kk_rating_score,gg_rating_score,insta_follower_score,total_score,quarter_year,quarter_month,tenant_status,ld_place_cnt,kk_place_id
count,8206.000000,8199.000000,8206.000000,8206.000000,8.206000e+03,8206.000000,8206.000000,8.206000e+03,8206.000000,8206.000000,...,8206.000000,8206.00000,8206.000000,8206.000000,8206.000000,8206.000000,8206.000000,8206.000000,8165.000000,7.700000e+03
mean,4904.446137,3631.158068,37.173819,125.752822,1.089434e+09,897.734219,328.066171,3.085510e+04,43.367403,1855.701194,...,5.353278,0.74795,1.325575,0.605856,21.144707,1429.116622,5.233122,1.118084,98.874464,8.649259e+08
std,2861.726976,2361.079282,3.688893,12.478399,6.749789e+08,1611.043526,600.433366,1.476534e+05,118.830119,25602.615407,...,8.374552,1.32950,1.598379,2.790168,18.593813,921.320817,3.658104,0.898816,1041.057400,7.127356e+08
min,1.000000,1.000000,0.000000,0.000000,1.098546e+07,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.446200e+04
25%,2052.250000,538.000000,37.508835,126.925152,2.937951e+08,225.000000,43.000000,4.000000e+01,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,5.563102,0.000000,0.000000,0.000000,0.000000,1.035997e+08
50%,5249.500000,3996.000000,37.537160,126.996910,1.263543e+09,495.000000,147.000000,1.580000e+03,0.000000,0.000000,...,0.988640,0.00000,0.833500,0.000000,16.370598,2023.000000,6.000000,1.000000,7.000000,7.973977e+08
75%,7406.750000,5499.000000,37.563137,127.046345,1.634456e+09,989.750000,374.000000,9.435000e+03,57.000000,0.000000,...,6.235780,1.00000,2.500500,0.000000,32.850000,2023.000000,9.000000,2.000000,38.000000,1.519544e+09
max,9458.000000,7382.000000,37.685610,127.177830,1.999761e+09,63366.000000,16881.000000,2.623500e+06,6016.700000,854000.000000,...,25.000000,5.00100,5.001000,20.000000,99.167500,2023.000000,10.000000,3.000000,31936.000000,2.147382e+09

In [49]:
df3.columns

Index(['seq', 'st_company_seq', 'nv_restaurant', 'nv_restaurant_tel',
       'nv_address', 'nv_address_lat', 'nv_address_long', 'nv_address_si',
       'nv_address_gu', 'nv_address_dong', 'nv_place_intro', 'nv_sector',
       'nv_insta_url', 'nv_place_id', 'nv_visitor_review_cnt',
       'nv_blog_review_cnt', 'nv_search_volume_monthly', 'seoul_data_area',
       'insta_follower_cnt', 'gg_rating', 'gg_review_cnt', 'kk_rating',
       'kk_rating_cnt', 'kk_review_cnt', 'nv_visitor_review_score',
       'nv_blog_review_score', 'nv_search_volume_score', 'kk_rating_score',
       'gg_rating_score', 'insta_follower_score', 'total_score',
       'quarter_year', 'quarter_month', 'tenant_status', 'license_date',
       'create_at', 'update_at', 'delete_at', 'brand_name', 'ld_place_cnt',
       'kk_restaurant', 'kk_place_id', 'delete_reason', 'license_update_date'],
      dtype='object')

In [52]:
df3['seoul_data_area'].isna().sum()

0

In [56]:
df3[df3['seoul_data_area'] == 0]

,seq,st_company_seq,nv_restaurant,nv_restaurant_tel,nv_address,nv_address_lat,nv_address_long,nv_address_si,nv_address_gu,nv_address_dong,...,license_date,create_at,update_at,delete_at,brand_name,ld_place_cnt,kk_restaurant,kk_place_id,delete_reason,license_update_date
100,101,1.0,앤티크커피 잠실점,0507-1355-7017,서울 송파구 백제고분로41길 21-16 1층 앤티크커피 잠실점,37.50760,127.10633,서울,송파구,송파동,...,NaN,2023-05-16 10:48:27,2023-08-29 19:12:57,NaN,앤티크커피,2.0,앤티크커피 잠실점,3.059750e+08,NaN,NaN
101,102,1.0,앤티크커피 영등포구청점,070-8845-3702,서울 영등포구 국회대로29길 6 1층 앤티크커피 영등포구청점,37.52868,126.89679,서울,영등포구,당산동4가,...,NaN,2023-05-16 10:48:29,2023-08-29 19:13:19,NaN,앤티크커피,2.0,앤티크커피 영등포구청점,1.267905e+09,NaN,NaN
102,103,3.0,해피치즈스마일 연남점,0507-1336-6703,서울 마포구 동교로 244-1 2층 해피치즈스마일 연남점,37.56177,126.92449,서울,마포구,연남동,...,NaN,2023-05-16 10:48:30,2023-08-29 19:13:44,NaN,해피치즈스마일,46.0,해피치즈스마일 연남점,6.618720e+08,NaN,NaN
103,104,3.0,해피치즈스마일 노원점,02-933-0326,"서울 노원구 상계로3길 9 성광빌딩 1층 105호, 106호",37.65669,127.06222,서울,노원구,상계동,...,NaN,2023-05-16 10:48:31,2023-08-29 19:14:06,NaN,해피치즈스마일,46.0,해피치즈스마일 노원점,6.541798e+08,NaN,NaN
104,105,6.0,청춘닭꼬치 논현직영점,0507-1356-3236,서울 강남구 강남대로122길 15 1층,37.50813,127.02418,서울,강남구,논현동,...,NaN,2023-05-16 10:48:32,2023-08-29 19:14:28,NaN,청춘닭꼬치,44.0,청춘닭꼬치 논현직영점,7.901678e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5932,7185,5659.0,카페다오,0507-1359-5574,서울 종로구 대학로14길 19,37.58421,127.00251,서울,종로구,혜화동,...,2010-06-03 00:00:00,2023-08-28 22:14:17,2023-08-30 04:41:28,NaN,NaN,0.0,카페다오,2.732160e+07,NaN,NaN
5943,7196,5354.0,심야식당,0507-1405-9570,서울 종로구 대명길 39-5 1층,37.58280,126.99963,서울,종로구,명륜4가,...,2010-05-10 00:00:00,2023-08-28 22:21:27,2023-08-30 04:45:48,NaN,NaN,0.0,심야식당,1.181368e+09,NaN,NaN
5973,7226,5695.0,양가곱창,02-722-9295,서울 종로구 종로 19 르메이에르종로타운 3층,37.57206,127.00503,서울,종로구,효제동,...,2010-05-03 00:00:00,2023-08-28 22:44:52,2023-08-30 04:57:37,NaN,NaN,0.0,양가등심곱창,2.722619e+07,NaN,NaN
5987,7240,5709.0,구마스시,02-735-2500,서울 종로구 새문안로 92 광화문오피시아빌딩,37.56970,126.97491,서울,종로구,신문로1가,...,2010-05-28 00:00:00,2023-08-28 22:54:04,2023-08-30 05:03:39,NaN,NaN,0.0,구마스시,2.008401e+07,NaN,NaN
6270,7523,5947.0,드엠,0507-1319-3279,서울 종로구 동순라길 126-3 503호,37.57584,126.99629,서울,종로구,원남동,...,2019-02-14 00:00:00,2023-09-18 21:57:52,NaN,NaN,NaN,0.0,드엠,3.423870e+08,NaN,2019-02-16 02:21:23

In [59]:
len(df3.loc[df3['seoul_data_area'] == 0])

5316

In [60]:
df3[df3['seoul_data_area'] == 0]

,seq,st_company_seq,nv_restaurant,nv_restaurant_tel,nv_address,nv_address_lat,nv_address_long,nv_address_si,nv_address_gu,nv_address_dong,...,license_date,create_at,update_at,delete_at,brand_name,ld_place_cnt,kk_restaurant,kk_place_id,delete_reason,license_update_date
100,101,1.0,앤티크커피 잠실점,0507-1355-7017,서울 송파구 백제고분로41길 21-16 1층 앤티크커피 잠실점,37.50760,127.10633,서울,송파구,송파동,...,NaN,2023-05-16 10:48:27,2023-08-29 19:12:57,NaN,앤티크커피,2.0,앤티크커피 잠실점,3.059750e+08,NaN,NaN
101,102,1.0,앤티크커피 영등포구청점,070-8845-3702,서울 영등포구 국회대로29길 6 1층 앤티크커피 영등포구청점,37.52868,126.89679,서울,영등포구,당산동4가,...,NaN,2023-05-16 10:48:29,2023-08-29 19:13:19,NaN,앤티크커피,2.0,앤티크커피 영등포구청점,1.267905e+09,NaN,NaN
102,103,3.0,해피치즈스마일 연남점,0507-1336-6703,서울 마포구 동교로 244-1 2층 해피치즈스마일 연남점,37.56177,126.92449,서울,마포구,연남동,...,NaN,2023-05-16 10:48:30,2023-08-29 19:13:44,NaN,해피치즈스마일,46.0,해피치즈스마일 연남점,6.618720e+08,NaN,NaN
103,104,3.0,해피치즈스마일 노원점,02-933-0326,"서울 노원구 상계로3길 9 성광빌딩 1층 105호, 106호",37.65669,127.06222,서울,노원구,상계동,...,NaN,2023-05-16 10:48:31,2023-08-29 19:14:06,NaN,해피치즈스마일,46.0,해피치즈스마일 노원점,6.541798e+08,NaN,NaN
104,105,6.0,청춘닭꼬치 논현직영점,0507-1356-3236,서울 강남구 강남대로122길 15 1층,37.50813,127.02418,서울,강남구,논현동,...,NaN,2023-05-16 10:48:32,2023-08-29 19:14:28,NaN,청춘닭꼬치,44.0,청춘닭꼬치 논현직영점,7.901678e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5932,7185,5659.0,카페다오,0507-1359-5574,서울 종로구 대학로14길 19,37.58421,127.00251,서울,종로구,혜화동,...,2010-06-03 00:00:00,2023-08-28 22:14:17,2023-08-30 04:41:28,NaN,NaN,0.0,카페다오,2.732160e+07,NaN,NaN
5943,7196,5354.0,심야식당,0507-1405-9570,서울 종로구 대명길 39-5 1층,37.58280,126.99963,서울,종로구,명륜4가,...,2010-05-10 00:00:00,2023-08-28 22:21:27,2023-08-30 04:45:48,NaN,NaN,0.0,심야식당,1.181368e+09,NaN,NaN
5973,7226,5695.0,양가곱창,02-722-9295,서울 종로구 종로 19 르메이에르종로타운 3층,37.57206,127.00503,서울,종로구,효제동,...,2010-05-03 00:00:00,2023-08-28 22:44:52,2023-08-30 04:57:37,NaN,NaN,0.0,양가등심곱창,2.722619e+07,NaN,NaN
5987,7240,5709.0,구마스시,02-735-2500,서울 종로구 새문안로 92 광화문오피시아빌딩,37.56970,126.97491,서울,종로구,신문로1가,...,2010-05-28 00:00:00,2023-08-28 22:54:04,2023-08-30 05:03:39,NaN,NaN,0.0,구마스시,2.008401e+07,NaN,NaN
6270,7523,5947.0,드엠,0507-1319-3279,서울 종로구 동순라길 126-3 503호,37.57584,126.99629,서울,종로구,원남동,...,2019-02-14 00:00:00,2023-09-18 21:57:52,NaN,NaN,NaN,0.0,드엠,3.423870e+08,NaN,2019-02-16 02:21:23

In [64]:
df3['quarter_month'].unique()

array([ 5,  0,  6,  7,  8,  9, 10], dtype=int64)

In [66]:
df4 = df3[['st_company_seq', 'nv_restaurant', 'nv_address', 'nv_address_gu', 'nv_address_dong', 'nv_sector', 
          'seoul_data_area', 'nv_visitor_review_cnt', 'nv_blog_review_cnt', 'nv_search_volume_monthly', 
          'insta_follower_cnt', 'gg_rating', 'gg_review_cnt', 'kk_rating', 'kk_rating_cnt', 'kk_review_cnt', 
          'total_score', 'brand_name', 'ld_place_cnt', 'kk_restaurant']]

In [67]:
df4

,st_company_seq,nv_restaurant,nv_address,nv_address_gu,nv_address_dong,nv_sector,seoul_data_area,nv_visitor_review_cnt,nv_blog_review_cnt,nv_search_volume_monthly,insta_follower_cnt,gg_rating,gg_review_cnt,kk_rating,kk_rating_cnt,kk_review_cnt,total_score,brand_name,ld_place_cnt,kk_restaurant
0,2.0,도식화,서울 마포구 와우산로17길 19-9 1층,마포구,서교동,"카페,디저트",173.95,1130,1448,15350,0,4.1,17,4.0,30,729,59.28750,도식화,2.0,도식화
1,4768.0,뽕나무쟁이 선릉본점,서울 강남구 역삼로65길 31,강남구,대치동,"족발,보쌈",89.17,2157,1897,120,0,4.2,1339,4.2,162,401,55.01436,뽕나무쟁이,5.0,뽕나무쟁이 선릉본점
2,639.0,스케줄 성수,서울 성동구 아차산로 104 2층,성동구,성수동2가,양식,162.00,684,1728,20440,0,4.2,82,4.0,74,853,54.60112,스케줄,12.0,스케줄성수
3,220.0,사위식당 마곡점,서울 강서구 공항대로 227 1층 112호,강서구,마곡동,"곱창,막창,양",118.00,2806,1164,70,0,4.2,10,4.9,14,739,53.50050,사위식당,22.0,사위식당 마곡점
4,4769.0,레스토랑 파츠 강남N점,서울 강남구 테헤란로 129 강남N타워 B2층,강남구,역삼동,이탈리아음식,282.09,1081,1333,130,0,4.4,29,4.3,7,423,53.14154,레스토랑,1210.0,레스토랑 파츠 강남N점
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8201,7378.0,양파이 한남점,서울 용산구 독서당로 65-11 1층,용산구,한남동,양갈비,77.00,195,295,2220,0,4.0,102,4.2,9,75,10.60016,NaN,0.0,양파이 한남점
8202,7379.0,끝돈 건대입구역점,서울 광진구 아차산로 238 1층 103호,광진구,자양동,"육류,고기요리",130.00,459,156,8550,0,0.0,0,3.3,34,174,10.50460,NaN,0.0,끝돈 건대입구역점
8203,7380.0,파티세리후르츠,서울 성동구 아차산로5길 37-1 1층,성동구,성수동2가,"카페,디저트",93.02,226,296,1900,0,4.3,16,0.0,0,133,10.41640,NaN,0.0,파티세리후르츠
8204,7381.0,티플랜트,서울 서초구 동광로39길 46,서초구,반포동,"카페,디저트",15.18,266,269,360,0,4.5,13,3.8,13,53,10.24468,NaN,0.0,티플랜트
8205,7382.0,록갈비 영등포점,서울 영등포구 영중로10길 44 1층,영등포구,영등포동3가,"육류,고기요리",49.60,317,200,7380,0,4.7,53,4.8,27,107,10.20304,NaN,0.0,록갈비 영등포점

In [75]:
df4['result'] = df4['nv_restaurant'] == df4['kk_restaurant']

C:\Users\akdhk\AppData\Local\Temp\ipykernel_9188\2785533575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['result'] = df4['nv_restaurant'] == df4['kk_restaurant']

In [74]:
len(df4['nv_restaurant'] == df4['kk_restaurant'])

8206

In [77]:
len(df4.loc[df4['result'] == False])

2930

In [80]:
df5 = pd.read_csv('data/tenant_sector.csv', encoding='cp949')

In [81]:
df5

,seq,tenant_seq,tenant_sector_info_seq,create_at,update_at,delete_at
0,1,1,14.0,2023-08-29 10:59,NaN,NaN
1,2,2,1.0,2023-08-29 10:59,NaN,NaN
2,3,3,7.0,2023-08-29 10:59,NaN,NaN
3,4,4,5.0,2023-08-29 10:59,NaN,NaN
4,5,5,7.0,2023-08-29 10:59,NaN,NaN
...,...,...,...,...,...,...
6047,6302,7350,17.0,2023-09-07 10:31,NaN,NaN
6048,6303,7351,14.0,2023-09-07 10:31,NaN,NaN
6049,6304,7352,7.0,2023-09-07 10:31,NaN,NaN
6050,6310,7303,16.0,2023-09-07 10:48,NaN,NaN
6051,6311,7323,6.0,2023-09-07 10:48,NaN,NaN

In [83]:
df6 = pd.read_csv('data/tenant_sector_info.csv', encoding='utf-8')

In [84]:
df6

    seq             name         create_at  update_at  delete_at
0     1           족발, 보쌈  2023-08-28 16:51        NaN        NaN
1     2         찜, 탕, 찌개  2023-08-28 16:51        NaN        NaN
2     3  돈까스, 회, 일식, 해산물  2023-08-28 16:52        NaN        NaN
3     4               피자  2023-08-28 16:52        NaN        NaN
4     5           고기, 구이  2023-08-28 16:52        NaN        NaN
5     6               한식  2023-08-28 16:53        NaN        NaN
6     7               양식  2023-08-28 16:53        NaN        NaN
7     8               치킨  2023-08-28 16:53        NaN        NaN
8     9               중식  2023-08-28 16:53        NaN        NaN
9    10              아시안  2023-08-28 16:54        NaN        NaN
10   11        백반, 죽, 국수  2023-08-28 16:54        NaN        NaN
11   12              도시락  2023-08-28 16:54        NaN        NaN
12   13               분식  2023-08-28 16:54        NaN        NaN
13   14          카페, 디저트  2023-08-28 16:55        NaN        NaN
14   15            패스트푸드  2023-08-28 16:55        NaN        NaN
15   16               채식  2023-08-28 16:55        NaN        NaN
16   17               주류  2023-08-29 12:38        NaN        NaN

In [23]:
df7 = pd.read_csv('data/일반음식점.csv', encoding='cp949')

C:\Users\akdhk\AppData\Local\Temp\ipykernel_8868\353849555.py:1: DtypeWarning: Columns (11,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv('data/일반음식점.csv', encoding='cp949')

In [24]:
df8 = pd.read_csv('data/휴게음식점.csv', encoding='cp949')

C:\Users\akdhk\AppData\Local\Temp\ipykernel_8868\719727721.py:1: DtypeWarning: Columns (11,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df8 = pd.read_csv('data/휴게음식점.csv', encoding='cp949')

In [25]:
df7

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,3930000,5560000-101-2023-00271,2023-09-22,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,4710000,4710000-101-2023-00096,2023-09-22,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,9.00,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3740000,3770000-101-2023-00341,2023-09-22,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,3740000,3770000-101-2023-00339,2023-09-22,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,4221000,4221000-101-2023-00058,2023-09-22,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105701,2105702,일반음식점,07_24_04_P,3600000,3600000-101-1995-00101,1995-09-01,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,68.50,NaN,NaN,NaN,NaN
2105702,2105703,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,2012-01-19,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0.0,N,85.00,NaN,NaN,NaN,NaN
2105703,2105704,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,2014-06-12,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
2105704,2105705,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,2014-03-21,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
2105705,2105706,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,2014-03-19,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN

In [26]:
df7.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [27]:
df8.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [28]:
df7 = df7.drop(df7.columns[28:48], axis=1)

In [29]:
df8 = df8.drop(df8.columns[28:48], axis=1)

In [30]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105706 entries, 0 to 2105705
Data columns (total 28 columns):
 #   Column    Dtype
---  ------    -----
 0   번호        int64
 1   개방서비스명    object
 2   개방서비스아이디  object
 3   개방자치단체코드  int64
 4   관리번호      object
 5   인허가일자     object
 6   인허가취소일자   float64
 7   영업상태구분코드  int64
 8   영업상태명     object
 9   상세영업상태코드  int64
 10  상세영업상태명   object
 11  폐업일자      object
 12  휴업시작일자    float64
 13  휴업종료일자    float64
 14  재개업일자     float64
 15  소재지전화     object
 16  소재지면적     float64
 17  소재지우편번호   object
 18  소재지전체주소   object
 19  도로명전체주소   object
 20  도로명우편번호   float64
 21  사업장명      object
 22  최종수정시점    object
 23  데이터갱신구분   object
 24  데이터갱신일자   object
 25  업태구분명     object
 26  좌표정보(x)   float64
 27  좌표정보(y)   object
dtypes: float64(7), int64(4), object(17)
memory usage: 449.8+ MB

In [31]:
df8

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y)
0,1,휴게음식점,07_24_05_P,3670000,3670000-104-2023-00335,2023-09-22,NaN,3,폐업,2,...,대전광역시 유성구 도룡동 4-19 대전컨벤션센터,"대전광역시 유성구 엑스포로 107, 대전컨벤션센터 (도룡동)",34125.0,카페큐브,2023-10-09 04:15:09,U,2023-10-12 02:40:00,기타 휴게음식점,235077.019020,319422.553807
1,2,휴게음식점,07_24_05_P,3140000,3140000-104-2023-00222,2023-09-22,NaN,3,폐업,2,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 지하2층 (목동, 현대하이페리온)",7998.0,리은푸드,2023-10-13 04:15:08,U,2023-10-15 02:40:00,백화점,188884.075622,447186.888604
2,3,휴게음식점,07_24_05_P,3140000,3140000-104-2023-00221,2023-09-22,NaN,3,폐업,2,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 현대하이페리온 지하2층 (목동, 현대하이페리온)",7998.0,더프리미엄,2023-10-02 04:15:08,U,2023-10-04 02:40:00,백화점,188884.075622,447186.888604
3,4,휴게음식점,07_24_05_P,4070000,4070000-104-2023-00180,2023-09-22,NaN,3,폐업,2,...,경기도 이천시 장호원읍 장호원리 332-4 장호원농산물유통센터,"경기도 이천시 장호원읍 서동대로8759번길 117, 장호원농산물유통센터 17호",17421.0,주민자치,2023-09-25 04:15:09,U,2023-09-27 02:40:00,일반조리판매,254385.408140,402006.771068
4,5,휴게음식점,07_24_05_P,3070000,3070000-104-2023-00181,2023-09-22,NaN,3,폐업,2,...,서울특별시 성북구 길음동 20-1 현대백화점미아점,"서울특별시 성북구 동소문로 315, 현대백화점미아점 지하1층 (길음동)",2730.0,리은푸드,2023-10-13 04:15:09,U,2023-10-15 02:40:00,백화점,202466.801085,456227.571721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550145,550146,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00018,2018-03-14,NaN,1,영업/정상,1,...,광주광역시 남구 봉선동 1095 1층 201동 102호,"광주광역시 남구 제석로 104, 201동 1층 102호 (봉선동)",61702.0,GS25HR아팰리스점,2021-05-06 10:26:22,U,2021-05-08 02:40:00,편의점,191511.220911,180531.945951
550146,550147,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00027,2018-04-10,NaN,1,영업/정상,1,...,광주광역시 남구 백운동 620-11번지 1층,"광주광역시 남구 독립로 30-3, 1층 (백운동)",61657.0,석류나무,2018-05-10 16:52:55,I,2018-08-31 23:59:59,일반조리판매,190987.643081,181915.397881
550147,550148,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00031,2018-04-19,NaN,1,영업/정상,1,...,"광주광역시 남구 진월동 294-17번지 광동빌딩, 2층","광주광역시 남구 서문대로 700, 광동빌딩 2층 (진월동)",61709.0,블랑PC방,2018-05-02 15:55:49,I,2018-08-31 23:59:59,일반조리판매,190720.873936,180300.549186
550148,550149,휴게음식점,07_24_05_P,3610000,3610000-104-2017-00085,2017-12-18,NaN,1,영업/정상,1,...,광주광역시 남구 월산동 901-30 1층,"광주광역시 남구 월산로151번길 10, 땡큐pc방 1층 (월산동)",61619.0,아틀리에pc,2023-03-15 11:09:10,U,2023-03-17 02:40:00,기타 휴게음식점,190337.038953,183555.773219
550149,550150,휴게음식점,07_24_05_P,3600000,3600000-104-2010-00022,2010-03-16,NaN,1,영업/정상,1,...,광주광역시 서구 화정동 334-123번지 (1층),"광주광역시 서구 월드컵4강로112번길 7-14 (화정동,(1층))",61986.0,굿모닝토스트,2011-04-15 10:24:23,I,2018-08-31 23:59:59,일반조리판매,188387.562754,183119.898417

In [103]:
# df7 = df7.dropna(subset = ['도로명전체주소'])

In [105]:
# df8 = df8.dropna(subset = ['도로명전체주소'])

In [32]:
seoul_1 = df7[df7['소재지전체주소'].str.contains('서울특별시') | df7['도로명전체주소'].str.contains('서울특별시')]

In [34]:
seoul_2 = df8[df8['소재지전체주소'].str.contains('서울특별시') | df8['도로명전체주소'].str.contains('서울특별시')]

In [33]:
seoul_1

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y)
8,9,일반음식점,07_24_04_P,3070000,3070000-101-2023-00323,2023-09-22,NaN,3,폐업,2,...,서울특별시 성북구 길음동 20-1 현대백화점미아점,"서울특별시 성북구 동소문로 315, 현대백화점미아점 지하1층 (길음동)",2730.0,허니탕후루,2023-10-16 04:15:09,U,2023-10-18 02:40:00,기타,202466.801085,456227.571721
46,47,일반음식점,07_24_04_P,3160000,3160000-101-2023-00328,2023-09-22,NaN,3,폐업,2,...,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN,NaN,구로5동 주민자치위원회,2023-10-09 04:15:09,U,2023-10-12 02:40:00,한식,188481.187123,444200.017269
48,49,일반음식점,07_24_04_P,3230000,3230000-101-2023-00741,2023-09-22,NaN,3,폐업,2,...,서울특별시 송파구 방이동 88 올림픽공원,"서울특별시 송파구 올림픽로 424, 올림픽공원 88잔디마당 내 (방이동)",5540.0,더이탈리안클럽,2023-10-01 22:19:34,U,2023-10-03 02:40:00,기타,210199.459219,446539.279382
58,59,일반음식점,07_24_04_P,3060000,3060000-101-2023-00266,2023-09-22,NaN,3,폐업,2,...,서울특별시 중랑구 면목동 665-22,"서울특별시 중랑구 면목로35길 31, 1층 (면목동)",2240.0,전순덕밥상,2023-09-27 15:00:45,U,2023-09-29 02:40:00,한식,207369.918927,452927.509559
67,68,일반음식점,07_24_04_P,3140000,3140000-101-2023-00273,2023-09-22,NaN,3,폐업,2,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 지하2층 (목동, 현대하이페리온)",7998.0,금덕푸드(충무로가는길),2023-10-06 04:15:08,U,2023-10-08 02:40:00,기타,188884.075622,447186.888604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2073906,2073907,일반음식점,07_24_04_P,3110000,3110000-101-2020-00283,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 은평구 진관동 72 드림스퀘어 105호,"서울특별시 은평구 진관2로 29-21, 드림스퀘어 105호 (진관동)",3306.0,미소야(구파발역점),2020-08-03 14:59:35,I,2020-08-05 00:23:26,분식,192812.253775,459266.981388
2073907,2073908,일반음식점,07_24_04_P,3110000,3110000-101-2020-00281,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 은평구 진관동 296-12,"서울특별시 은평구 북한산로 271-3, 2층 (진관동)",3307.0,"북한산큰숲,제빵소",2020-08-03 13:26:06,I,2020-08-05 00:23:26,한식,194550.757271,461372.337336
2073908,2073909,일반음식점,07_24_04_P,3110000,3110000-101-2020-00280,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 은평구 대조동 68-2,"서울특별시 은평구 역말로10길 32, 1층 우측호 (대조동)",3392.0,베엔타,2020-08-03 11:48:18,I,2020-08-05 00:23:26,출장조리,193206.049815,456310.309764
2074038,2074039,일반음식점,07_24_04_P,3040000,3040000-101-2020-00276,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 광진구 광장동 322-6,"서울특별시 광진구 아차산로76가길 5, 1층 (광장동)",4969.0,37.5광진점,2021-08-06 11:25:30,U,2021-08-08 02:40:00,기타,209442.103893,449442.721078
2075326,2075327,일반음식점,07_24_04_P,3150000,3150000-101-2020-00449,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 강서구 화곡동 827-2 1층,"서울특별시 강서구 등촌로13다길 35, 1층 (화곡동)",7740.0,꾸어가게생선구이화곡점,2020-09-14 19:26:51,U,2020-09-16 02:40:00,한식,187499.286366,448069.583478

In [35]:
seoul_2

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y)
1,2,휴게음식점,07_24_05_P,3140000,3140000-104-2023-00222,2023-09-22,NaN,3,폐업,2,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 지하2층 (목동, 현대하이페리온)",7998.0,리은푸드,2023-10-13 04:15:08,U,2023-10-15 02:40:00,백화점,188884.075622,447186.888604
2,3,휴게음식점,07_24_05_P,3140000,3140000-104-2023-00221,2023-09-22,NaN,3,폐업,2,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 현대하이페리온 지하2층 (목동, 현대하이페리온)",7998.0,더프리미엄,2023-10-02 04:15:08,U,2023-10-04 02:40:00,백화점,188884.075622,447186.888604
4,5,휴게음식점,07_24_05_P,3070000,3070000-104-2023-00181,2023-09-22,NaN,3,폐업,2,...,서울특별시 성북구 길음동 20-1 현대백화점미아점,"서울특별시 성북구 동소문로 315, 현대백화점미아점 지하1층 (길음동)",2730.0,리은푸드,2023-10-13 04:15:09,U,2023-10-15 02:40:00,백화점,202466.801085,456227.571721
18,19,휴게음식점,07_24_05_P,3210000,3210000-104-2023-00304,2023-09-22,NaN,3,폐업,2,...,서울특별시 서초구 반포동 19-3 신세계백화점 강남점 지하1층 식품행사장,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 식품행사장 (반포동)",6546.0,리은푸드,2023-09-28 04:15:09,U,2023-09-30 02:40:00,일반조리판매,200250.447805,444683.220506
22,23,휴게음식점,07_24_05_P,3010000,3010000-104-2023-00243,2023-09-22,NaN,3,폐업,2,...,서울특별시 중구 충무로1가 52-5 신세계백화점건물,"서울특별시 중구 소공로 63, 신세계백화점건물 지1층 (충무로1가)",4530.0,주식회사 신이안루,2023-10-06 04:15:09,U,2023-10-08 02:40:00,백화점,198263.908392,450960.762965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541190,541191,휴게음식점,07_24_05_P,3130000,3130000-104-2016-00382,2016-11-18,NaN,1,영업/정상,1,...,서울특별시 마포구 서교동 368-11번지,"서울특별시 마포구 잔다리로2길 7 (서교동, 디쎄JT타워1층일부)",4042.0,로벤,2016-11-18 15:34:11,I,2018-08-31 23:59:59,커피숍,192882.211403,449911.392128
541372,541373,휴게음식점,07_24_05_P,3030000,3030000-104-2023-00018,2023-01-31,NaN,1,영업/정상,1,...,서울특별시 성동구 도선동 285-1,"서울특별시 성동구 왕십리로 340, 1층 101호 (도선동)",4707.0,백남옥 달인 손만두,2023-01-31 10:33:01,I,2023-02-02 00:40:52,기타 휴게음식점,202795.584167,451229.645563
541547,541548,휴게음식점,07_24_05_P,3160000,3160000-104-2020-00100,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 구로구 항동 236 항동중흥에스클래스베르데카운티,"서울특별시 구로구 연동로 233, 상가1동 1층 107호 (항동, 항동중흥에스클래스...",8362.0,happy cake shop(해피케이크샵),2023-06-08 13:27:15,U,2023-06-10 02:40:00,기타 휴게음식점,184086.012717,442101.176791
543021,543022,휴게음식점,07_24_05_P,3210000,3210000-104-2020-00212,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 서초구 방배동 451-32 1층,"서울특별시 서초구 방배천로2안길 49, 1층 (방배동)",6692.0,카페it수다,2020-08-03 11:12:55,I,2020-08-05 00:23:26,커피숍,198499.258221,441882.141012
543022,543023,휴게음식점,07_24_05_P,3210000,3210000-104-2020-00213,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 서초구 잠원동 72-2 반원상가,"서울특별시 서초구 신반포로23길 30, 반원상가 1층 113호 (잠원동)",6510.0,쥬씨(신반포 반원상가점),2020-08-03 14:38:19,I,2020-08-05 00:23:26,일반조리판매,200246.255071,445174.193878

In [36]:
seoul = pd.concat([seoul_1, seoul_2])

In [37]:
seoul

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y)
8,9,일반음식점,07_24_04_P,3070000,3070000-101-2023-00323,2023-09-22,NaN,3,폐업,2,...,서울특별시 성북구 길음동 20-1 현대백화점미아점,"서울특별시 성북구 동소문로 315, 현대백화점미아점 지하1층 (길음동)",2730.0,허니탕후루,2023-10-16 04:15:09,U,2023-10-18 02:40:00,기타,202466.801085,456227.571721
46,47,일반음식점,07_24_04_P,3160000,3160000-101-2023-00328,2023-09-22,NaN,3,폐업,2,...,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN,NaN,구로5동 주민자치위원회,2023-10-09 04:15:09,U,2023-10-12 02:40:00,한식,188481.187123,444200.017269
48,49,일반음식점,07_24_04_P,3230000,3230000-101-2023-00741,2023-09-22,NaN,3,폐업,2,...,서울특별시 송파구 방이동 88 올림픽공원,"서울특별시 송파구 올림픽로 424, 올림픽공원 88잔디마당 내 (방이동)",5540.0,더이탈리안클럽,2023-10-01 22:19:34,U,2023-10-03 02:40:00,기타,210199.459219,446539.279382
58,59,일반음식점,07_24_04_P,3060000,3060000-101-2023-00266,2023-09-22,NaN,3,폐업,2,...,서울특별시 중랑구 면목동 665-22,"서울특별시 중랑구 면목로35길 31, 1층 (면목동)",2240.0,전순덕밥상,2023-09-27 15:00:45,U,2023-09-29 02:40:00,한식,207369.918927,452927.509559
67,68,일반음식점,07_24_04_P,3140000,3140000-101-2023-00273,2023-09-22,NaN,3,폐업,2,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 지하2층 (목동, 현대하이페리온)",7998.0,금덕푸드(충무로가는길),2023-10-06 04:15:08,U,2023-10-08 02:40:00,기타,188884.075622,447186.888604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541190,541191,휴게음식점,07_24_05_P,3130000,3130000-104-2016-00382,2016-11-18,NaN,1,영업/정상,1,...,서울특별시 마포구 서교동 368-11번지,"서울특별시 마포구 잔다리로2길 7 (서교동, 디쎄JT타워1층일부)",4042.0,로벤,2016-11-18 15:34:11,I,2018-08-31 23:59:59,커피숍,192882.211403,449911.392128
541372,541373,휴게음식점,07_24_05_P,3030000,3030000-104-2023-00018,2023-01-31,NaN,1,영업/정상,1,...,서울특별시 성동구 도선동 285-1,"서울특별시 성동구 왕십리로 340, 1층 101호 (도선동)",4707.0,백남옥 달인 손만두,2023-01-31 10:33:01,I,2023-02-02 00:40:52,기타 휴게음식점,202795.584167,451229.645563
541547,541548,휴게음식점,07_24_05_P,3160000,3160000-104-2020-00100,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 구로구 항동 236 항동중흥에스클래스베르데카운티,"서울특별시 구로구 연동로 233, 상가1동 1층 107호 (항동, 항동중흥에스클래스...",8362.0,happy cake shop(해피케이크샵),2023-06-08 13:27:15,U,2023-06-10 02:40:00,기타 휴게음식점,184086.012717,442101.176791
543021,543022,휴게음식점,07_24_05_P,3210000,3210000-104-2020-00212,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 서초구 방배동 451-32 1층,"서울특별시 서초구 방배천로2안길 49, 1층 (방배동)",6692.0,카페it수다,2020-08-03 11:12:55,I,2020-08-05 00:23:26,커피숍,198499.258221,441882.141012
543022,543023,휴게음식점,07_24_05_P,3210000,3210000-104-2020-00213,2020-08-03,NaN,1,영업/정상,1,...,서울특별시 서초구 잠원동 72-2 반원상가,"서울특별시 서초구 신반포로23길 30, 반원상가 1층 113호 (잠원동)",6510.0,쥬씨(신반포 반원상가점),2020-08-03 14:38:19,I,2020-08-05 00:23:26,일반조리판매,200246.255071,445174.193878

In [38]:
seoul.to_csv('서울음식점통합.csv', index=False)

In [2]:
seoul = pd.read_csv('서울음식점통합.csv', encoding='cp949')

C:\Users\akdhk\AppData\Local\Temp\ipykernel_8868\99910022.py:1: DtypeWarning: Columns (11,27) have mixed types. Specify dtype option on import or set low_memory=False.
  seoul = pd.read_csv('서울음식점통합.csv', encoding='cp949')

In [39]:
seoul.shape

(624129, 28)

In [40]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 624129 entries, 8 to 543022
Data columns (total 28 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   번호        624129 non-null  int64
 1   개방서비스명    624129 non-null  object
 2   개방서비스아이디  624129 non-null  object
 3   개방자치단체코드  624129 non-null  int64
 4   관리번호      624129 non-null  object
 5   인허가일자     624129 non-null  object
 6   인허가취소일자   0 non-null       float64
 7   영업상태구분코드  624129 non-null  int64
 8   영업상태명     624129 non-null  object
 9   상세영업상태코드  624129 non-null  int64
 10  상세영업상태명   624129 non-null  object
 11  폐업일자      459946 non-null  object
 12  휴업시작일자    0 non-null       float64
 13  휴업종료일자    0 non-null       float64
 14  재개업일자     0 non-null       float64
 15  소재지전화     368414 non-null  object
 16  소재지면적     581689 non-null  float64
 17  소재지우편번호   624120 non-null  object
 18  소재지전체주소   624129 non-null  object
 19  도로명전체주소   332924 non-null  object
 20  도로명우편번호   328315 non-null  float64
 21  사업장명      624128 non-null  object
 22  최종수정시점    624129 non-null  object
 23  데이터갱신구분   624129 non-null  object
 24  데이터갱신일자   624129 non-null  object
 25  업태구분명     624111 non-null  object
 26  좌표정보(x)   586217 non-null  float64
 27  좌표정보(y)   586217 non-null  object
dtypes: float64(7), int64(4), object(17)
memory usage: 138.1+ MB

In [41]:
seoul = seoul.drop(['번호', '개방서비스아이디'], axis=1)

,개방서비스명,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,...,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y)
8,일반음식점,3070000,3070000-101-2023-00323,2023-09-22,NaN,3,폐업,2,폐업,2023-10-15,...,서울특별시 성북구 길음동 20-1 현대백화점미아점,"서울특별시 성북구 동소문로 315, 현대백화점미아점 지하1층 (길음동)",2730.0,허니탕후루,2023-10-16 04:15:09,U,2023-10-18 02:40:00,기타,202466.801085,456227.571721
46,일반음식점,3160000,3160000-101-2023-00328,2023-09-22,NaN,3,폐업,2,폐업,2023-10-08,...,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN,NaN,구로5동 주민자치위원회,2023-10-09 04:15:09,U,2023-10-12 02:40:00,한식,188481.187123,444200.017269
48,일반음식점,3230000,3230000-101-2023-00741,2023-09-22,NaN,3,폐업,2,폐업,2023-09-23,...,서울특별시 송파구 방이동 88 올림픽공원,"서울특별시 송파구 올림픽로 424, 올림픽공원 88잔디마당 내 (방이동)",5540.0,더이탈리안클럽,2023-10-01 22:19:34,U,2023-10-03 02:40:00,기타,210199.459219,446539.279382
58,일반음식점,3060000,3060000-101-2023-00266,2023-09-22,NaN,3,폐업,2,폐업,2023-09-27,...,서울특별시 중랑구 면목동 665-22,"서울특별시 중랑구 면목로35길 31, 1층 (면목동)",2240.0,전순덕밥상,2023-09-27 15:00:45,U,2023-09-29 02:40:00,한식,207369.918927,452927.509559
67,일반음식점,3140000,3140000-101-2023-00273,2023-09-22,NaN,3,폐업,2,폐업,2023-10-05,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 지하2층 (목동, 현대하이페리온)",7998.0,금덕푸드(충무로가는길),2023-10-06 04:15:08,U,2023-10-08 02:40:00,기타,188884.075622,447186.888604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541190,휴게음식점,3130000,3130000-104-2016-00382,2016-11-18,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 마포구 서교동 368-11번지,"서울특별시 마포구 잔다리로2길 7 (서교동, 디쎄JT타워1층일부)",4042.0,로벤,2016-11-18 15:34:11,I,2018-08-31 23:59:59,커피숍,192882.211403,449911.392128
541372,휴게음식점,3030000,3030000-104-2023-00018,2023-01-31,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 성동구 도선동 285-1,"서울특별시 성동구 왕십리로 340, 1층 101호 (도선동)",4707.0,백남옥 달인 손만두,2023-01-31 10:33:01,I,2023-02-02 00:40:52,기타 휴게음식점,202795.584167,451229.645563
541547,휴게음식점,3160000,3160000-104-2020-00100,2020-08-03,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 구로구 항동 236 항동중흥에스클래스베르데카운티,"서울특별시 구로구 연동로 233, 상가1동 1층 107호 (항동, 항동중흥에스클래스...",8362.0,happy cake shop(해피케이크샵),2023-06-08 13:27:15,U,2023-06-10 02:40:00,기타 휴게음식점,184086.012717,442101.176791
543021,휴게음식점,3210000,3210000-104-2020-00212,2020-08-03,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 서초구 방배동 451-32 1층,"서울특별시 서초구 방배천로2안길 49, 1층 (방배동)",6692.0,카페it수다,2020-08-03 11:12:55,I,2020-08-05 00:23:26,커피숍,198499.258221,441882.141012
543022,휴게음식점,3210000,3210000-104-2020-00213,2020-08-03,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 서초구 잠원동 72-2 반원상가,"서울특별시 서초구 신반포로23길 30, 반원상가 1층 113호 (잠원동)",6510.0,쥬씨(신반포 반원상가점),2020-08-03 14:38:19,I,2020-08-05 00:23:26,일반조리판매,200246.255071,445174.193878

In [42]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 624129 entries, 8 to 543022
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   개방서비스명    624129 non-null  object
 1   개방자치단체코드  624129 non-null  int64
 2   관리번호      624129 non-null  object
 3   인허가일자     624129 non-null  object
 4   인허가취소일자   0 non-null       float64
 5   영업상태구분코드  624129 non-null  int64
 6   영업상태명     624129 non-null  object
 7   상세영업상태코드  624129 non-null  int64
 8   상세영업상태명   624129 non-null  object
 9   폐업일자      459946 non-null  object
 10  휴업시작일자    0 non-null       float64
 11  휴업종료일자    0 non-null       float64
 12  재개업일자     0 non-null       float64
 13  소재지전화     368414 non-null  object
 14  소재지면적     581689 non-null  float64
 15  소재지우편번호   624120 non-null  object
 16  소재지전체주소   624129 non-null  object
 17  도로명전체주소   332924 non-null  object
 18  도로명우편번호   328315 non-null  float64
 19  사업장명      624128 non-null  object
 20  최종수정시점    624129 non-null  object
 21  데이터갱신구분   624129 non-null  object
 22  데이터갱신일자   624129 non-null  object
 23  업태구분명     624111 non-null  object
 24  좌표정보(x)   586217 non-null  float64
 25  좌표정보(y)   586217 non-null  object
dtypes: float64(7), int64(3), object(16)
memory usage: 128.6+ MB

In [48]:
seoul.rename(columns={'영업상태구분코드':'영업상태코드', '소재지전화':'전화번호', '소재지전체주소':'지번주소', '도로명전체주소':'도로명주소', '최종수정시점':'최종수정일자', '좌표정보(x)':'좌표정보(X)', '좌표정보(y)':'좌표정보(Y)'}, inplace=True)

In [49]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 624129 entries, 8 to 543022
Data columns (total 26 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   개방서비스명    624129 non-null  object
 1   개방자치단체코드  624129 non-null  int64
 2   관리번호      624129 non-null  object
 3   인허가일자     624129 non-null  object
 4   인허가취소일자   0 non-null       float64
 5   영업상태코드    624129 non-null  int64
 6   영업상태명     624129 non-null  object
 7   상세영업상태코드  624129 non-null  int64
 8   상세영업상태명   624129 non-null  object
 9   폐업일자      459946 non-null  object
 10  휴업시작일자    0 non-null       float64
 11  휴업종료일자    0 non-null       float64
 12  재개업일자     0 non-null       float64
 13  전화번호      368414 non-null  object
 14  소재지면적     581689 non-null  float64
 15  소재지우편번호   624120 non-null  object
 16  지번주소      624129 non-null  object
 17  도로명주소     332924 non-null  object
 18  도로명우편번호   328315 non-null  float64
 19  사업장명      624128 non-null  object
 20  최종수정일자    624129 non-null  object
 21  데이터갱신구분   624129 non-null  object
 22  데이터갱신일자   624129 non-null  object
 23  업태구분명     624111 non-null  object
 24  좌표정보(X)   586217 non-null  float64
 25  좌표정보(Y)   586217 non-null  object
dtypes: float64(7), int64(3), object(16)
memory usage: 128.6+ MB

In [5]:
bakery = pd.read_csv('data/제과점.csv', encoding='cp949')

In [11]:
bakery = bakery.drop(bakery.columns[25:44], axis=1)

In [17]:
# bakery.insert(0, '개방서비스명', '제과점')

AttributeError: 'NoneType' object has no attribute 'insert'

In [20]:
bakery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13940 entries, 0 to 13939
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   개방서비스명    13940 non-null  object
 1   개방자치단체코드  13940 non-null  int64
 2   관리번호      13940 non-null  object
 3   인허가일자     13940 non-null  object
 4   인허가취소일자   0 non-null      float64
 5   영업상태코드    13940 non-null  int64
 6   영업상태명     13940 non-null  object
 7   상세영업상태코드  13940 non-null  int64
 8   상세영업상태명   13940 non-null  object
 9   폐업일자      9873 non-null   object
 10  휴업시작일자    0 non-null      float64
 11  휴업종료일자    0 non-null      float64
 12  재개업일자     0 non-null      float64
 13  전화번호      6806 non-null   object
 14  소재지면적     12892 non-null  object
 15  소재지우편번호   13906 non-null  object
 16  지번주소      13907 non-null  object
 17  도로명주소     9920 non-null   object
 18  도로명우편번호   9813 non-null   float64
 19  사업장명      13940 non-null  object
 20  최종수정일자    13940 non-null  object
 21  데이터갱신구분   13940 non-null  object
 22  데이터갱신일자   13940 non-null  object
 23  업태구분명     13940 non-null  object
 24  좌표정보(X)   13478 non-null  float64
 25  좌표정보(Y)   13478 non-null  float64
dtypes: float64(7), int64(3), object(16)
memory usage: 2.8+ MB

In [44]:
bakery = bakery[bakery['지번주소'].str.contains('서울특별시') | bakery['도로명주소'].str.contains('서울특별시')]

In [45]:
bakery

,개방서비스명,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,...,지번주소,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
0,제과점,3220000,3220000-121-2023-00040,2023-04-04,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 강남구 압구정동 494 갤러리아백화점,"서울특별시 강남구 압구정로 343, 갤러리아백화점 명품관WEST B1층 (압구정동)",6008.0,빵준서 갤러리아 명품관,2023-04-04 15:47:49,I,2022-12-04 00:06:00.0,제과점영업,203470.848439,447369.579852
1,제과점,3240000,3240000-121-2017-00026,2017-08-14,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 강동구 성내동 560-1,"서울특별시 강동구 성내로10길 13, 1층 (성내동)",5399.0,MIN Bakery(민 베이커리),2023-04-04 15:51:03,I,2022-12-04 00:06:00.0,제과점영업,210952.183499,447337.728085
2,제과점,3230000,3230000-121-2017-00031,2017-08-14,NaN,3,폐업,2,폐업,2023-04-04,...,서울특별시 송파구 풍납동 155-20,"서울특별시 송파구 풍성로25길 15, 1층 (풍납동)",5520.0,MIN Bakery(민 베이커리),2023-04-04 15:48:39,U,2022-12-04 00:06:00.0,제과점영업,210574.132217,448087.750263
3,제과점,3220000,3220000-121-2023-00041,2023-04-04,NaN,3,폐업,2,폐업,2023-04-30,...,서울특별시 강남구 압구정동 494 갤러리아백화점,"서울특별시 강남구 압구정로 343, 갤러리아백화점 지하1층 (압구정동)",6008.0,베시 더 스콘(한시적),2023-05-02 04:15:10,U,2022-12-05 00:04:00.0,제과점영업,203470.848439,447369.579852
4,제과점,3180000,3180000-121-2023-00032,2023-06-19,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 영등포구 당산동3가 512 당산M팰리스,"서울특별시 영등포구 양산로 101, 당산M팰리스 1층 101호 (당산동3가)",7261.0,아워슈가클럽(our sugar club),2023-06-19 16:39:22,I,2022-12-05 22:01:00.0,제과점영업,190586.861718,446931.959836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13935,제과점,3220000,3220000-121-2022-00129,20221230,NaN,3,폐업,2,폐업,20230124,...,서울특별시 강남구 압구정동 494 갤러리아백화점,"서울특별시 강남구 압구정로 343, 갤러리아백화점 명품관WEST동 지하1층 (압구정동)",6008.0,꼬모윤(comoyoon)(한시적),2023-01-25 04:15:09,U,2022-11-30 22:07:00.0,제과점영업,203470.848439,447369.579852
13936,제과점,3210000,3210000-121-2023-00001,20230102,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 서초구 우면동 64 건빌딩,"서울특별시 서초구 바우뫼로7길 7, 건빌딩 1층 (우면동)",6762.0,파리바게뜨 서초우면점,2023-01-02 11:34:01,I,2022-12-01 00:04:00.0,제과점영업,202135.497881,440947.792706
13937,제과점,3220000,3220000-121-2021-00096,20211220,NaN,3,폐업,2,폐업,20221231,...,서울특별시 강남구 역삼동 755 한솔필리아,"서울특별시 강남구 역삼로 310, 한솔필리아 지상1층 62,74,75호 (역삼동)",6217.0,프로틴 퀸_u(역삼)/ Protein Queen_u(역삼),2023-01-02 10:37:17,U,2022-12-01 00:04:00.0,제과점영업,204213.643237,444113.028211
13938,제과점,3210000,3210000-121-2022-00081,20221229,NaN,3,폐업,2,폐업,20230105,...,서울특별시 서초구 반포동 19-3 신세계백화점 강남점 지하1층,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 (반포동)",6546.0,피르마,2023-01-06 04:15:09,U,2022-12-01 00:08:00.0,제과점영업,200250.447805,444683.220506
13939,제과점,3180000,3180000-121-2019-00017,20190816,NaN,3,폐업,2,폐업,20230102,...,서울특별시 영등포구 여의도동 60 63한화생명빌딩 7층,"서울특별시 영등포구 63로 50, 63한화생명빌딩 7층 (여의도동)",7345.0,라이프플러스카페,2023-01-02 10:53:30,U,2022-12-01 00:04:00.0,제과점영업,194632.526367,446401.926526

In [50]:
all = pd.concat([seoul, bakery])

In [53]:
all.shape

(638034, 26)

In [54]:
all.to_csv('통합.csv', index=False)

In [55]:
all

,개방서비스명,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,...,지번주소,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y)
8,일반음식점,3070000,3070000-101-2023-00323,2023-09-22,NaN,3,폐업,2,폐업,2023-10-15,...,서울특별시 성북구 길음동 20-1 현대백화점미아점,"서울특별시 성북구 동소문로 315, 현대백화점미아점 지하1층 (길음동)",2730.0,허니탕후루,2023-10-16 04:15:09,U,2023-10-18 02:40:00,기타,202466.801085,456227.571721
46,일반음식점,3160000,3160000-101-2023-00328,2023-09-22,NaN,3,폐업,2,폐업,2023-10-08,...,서울특별시 구로구 구로동 621-8 구로G페스티벌 안양천 먹거리장터 행사장 내,NaN,NaN,구로5동 주민자치위원회,2023-10-09 04:15:09,U,2023-10-12 02:40:00,한식,188481.187123,444200.017269
48,일반음식점,3230000,3230000-101-2023-00741,2023-09-22,NaN,3,폐업,2,폐업,2023-09-23,...,서울특별시 송파구 방이동 88 올림픽공원,"서울특별시 송파구 올림픽로 424, 올림픽공원 88잔디마당 내 (방이동)",5540.0,더이탈리안클럽,2023-10-01 22:19:34,U,2023-10-03 02:40:00,기타,210199.459219,446539.279382
58,일반음식점,3060000,3060000-101-2023-00266,2023-09-22,NaN,3,폐업,2,폐업,2023-09-27,...,서울특별시 중랑구 면목동 665-22,"서울특별시 중랑구 면목로35길 31, 1층 (면목동)",2240.0,전순덕밥상,2023-09-27 15:00:45,U,2023-09-29 02:40:00,한식,207369.918927,452927.509559
67,일반음식점,3140000,3140000-101-2023-00273,2023-09-22,NaN,3,폐업,2,폐업,2023-10-05,...,서울특별시 양천구 목동 916 현대하이페리온,"서울특별시 양천구 목동동로 257, 지하2층 (목동, 현대하이페리온)",7998.0,금덕푸드(충무로가는길),2023-10-06 04:15:08,U,2023-10-08 02:40:00,기타,188884.075622,447186.888604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13935,제과점,3220000,3220000-121-2022-00129,20221230,NaN,3,폐업,2,폐업,20230124,...,서울특별시 강남구 압구정동 494 갤러리아백화점,"서울특별시 강남구 압구정로 343, 갤러리아백화점 명품관WEST동 지하1층 (압구정동)",6008.0,꼬모윤(comoyoon)(한시적),2023-01-25 04:15:09,U,2022-11-30 22:07:00.0,제과점영업,203470.848439,447369.579852
13936,제과점,3210000,3210000-121-2023-00001,20230102,NaN,1,영업/정상,1,영업,NaN,...,서울특별시 서초구 우면동 64 건빌딩,"서울특별시 서초구 바우뫼로7길 7, 건빌딩 1층 (우면동)",6762.0,파리바게뜨 서초우면점,2023-01-02 11:34:01,I,2022-12-01 00:04:00.0,제과점영업,202135.497881,440947.792706
13937,제과점,3220000,3220000-121-2021-00096,20211220,NaN,3,폐업,2,폐업,20221231,...,서울특별시 강남구 역삼동 755 한솔필리아,"서울특별시 강남구 역삼로 310, 한솔필리아 지상1층 62,74,75호 (역삼동)",6217.0,프로틴 퀸_u(역삼)/ Protein Queen_u(역삼),2023-01-02 10:37:17,U,2022-12-01 00:04:00.0,제과점영업,204213.643237,444113.028211
13938,제과점,3210000,3210000-121-2022-00081,20221229,NaN,3,폐업,2,폐업,20230105,...,서울특별시 서초구 반포동 19-3 신세계백화점 강남점 지하1층,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 (반포동)",6546.0,피르마,2023-01-06 04:15:09,U,2022-12-01 00:08:00.0,제과점영업,200250.447805,444683.220506
13939,제과점,3180000,3180000-121-2019-00017,20190816,NaN,3,폐업,2,폐업,20230102,...,서울특별시 영등포구 여의도동 60 63한화생명빌딩 7층,"서울특별시 영등포구 63로 50, 63한화생명빌딩 7층 (여의도동)",7345.0,라이프플러스카페,2023-01-02 10:53:30,U,2022-12-01 00:04:00.0,제과점영업,194632.526367,446401.926526

In [ ]:
# 열 선택하기
df['열 이름']

In [ ]:
# 여러 개의 열 선택하기
df[['열 이름 1', '열 이름 2', ...]]

In [ ]:
# 열에 있는 유일한 값을 넘파이 array 형태로 출력
df.열이름.unique() 또는 df['열이름'].unique()

# 열에 있는 유일한 값과 각 값 별로 개수를 판다스 series 형태로 출력
df.열이름.value_counts() 또는 df['열이름'].value_counts()

In [ ]:
# 행 선택하기
df.loc[행 이름 또는 인덱스]

In [ ]:
# 여러 개의 행 선택하기
df.loc[[행 이름 또는 인덱스 1, 행 이름 또는 인덱스 2, ...]]

In [ ]:
# 2010년 이후의 데이터만 선택하기
df[df['Year'] >= 2010]

In [ ]:
# 2010년 이후이면서 금메달 이상을 획득한 데이터만 선택하기
df[(df['Year'] >= 2010) & (df['Medal'] == 'Gold')]

In [ ]:
# 'KOR', 'USA', 'JPN' 국가의 데이터만 선택하기
df[df['NOC'].isin(['KOR', 'USA', 'JPN'])]

In [ ]:
# groupby() 함수 이용하기
df.groupby('열 이름')

In [ ]:
# 집계 함수 이용하기
그룹화된 데이터.집계함수()

In [ ]:
# 국가별 금메달 수의 합계 구하기
df[df['Medal'] == 'Gold'].groupby('NOC')['Medal'].count()

In [ ]:
# 내림차순으로 정렬하기
df.sort_values('열 이름', ascending=False)

In [ ]:
# 특정 열 null 개수 조회하기
df.열이름.isnull().sum()
df['열이름'].isnull().sum()

In [ ]:
# A열에서 10인 값의 개수
len(df.loc[df['A'] == 10])